body{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

#header_container {  
  background-color: #a3a6a8;
  height: 150;
}

#upe_logo {
  margin: 0;
  padding: 0;
  float: left;
}

#upe_logo img {
  width: 120px;
  height: 150px;
}

#heading {
  text-align: center;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  padding-top: 20px;
}

#header_nav_list {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float: right;
  margin: 0px;
}

#header_nav_list li {
  float: right;
}

#header_nav_list li a:link, a:visited {
  display: block;
  width: 180px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

#header_nav_list li a:hover, a:active{
    border-bottom: thick solid black;
}

#slideShowImages { /* The following CSS rules are optional. */
  display: block;
  margin-left:auto;
  margin-right:auto;
}

#slideShowImages img { /* The following CSS rules are optional. */
  padding: 0px;
  width: 100%;
  height: 80%;
}

div.body_container {
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #dfdcdd;
  text-indent: 50px;
}

#about{
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.content{
  font-size: 18px;
}

#news {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#news .content{
  border-bottom: 10px solid #374d86;
}

#tutor {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

#tutor_schedule{
  width: 100%;
}

.heading {
	
}

#footer_container {
  text-align: center;
}

#eboard{
  background-color: #a3a6a8;
  display: block;
  float: left;
  width: 33%;
  height: 200px;
}

#contact{
  background-color: #a3a6a8;
  display: block;
  float: left;
  width: 33%;
  height: 200px;
}

#social_media{
  background-color: #a3a6a8;
  display: block;
  float: left;
  width: 34%;
  height: 200px;
}

.footer_header{
  text-decoration: underline;
}
